ul{
    list-style-type: none;
    padding: 0;

}

li{
    background-color: aqua;
    margin: 10px 0;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(red, green, rgb(198, 198, 211), alpha);
    transition: background-color 0.3s ease;

}
li:hover {
    background-color: lightgray;
}

.detalhes{
    margin: 10px 0;
    padding: 10px;
    border: solid 1px #37692f;
    border-radius: 5px;
}

li.expanded {
    background-color: bisque;
}

li.expanded .detalhes {
    display:  block;
}